<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();

use Gamma\Dogs\ViewModel\Breeds; ?>

<div class="woof">
    <woof>
        <?= $viewModel->woof(rand(1, 17)) ?>
    </woof>
</div>
